.text-block {
  display: flex;
  align-items: center;
  margin-bottom: 100px;
}

.image-wrapper {
  flex: 1;
  margin-right: 50px;
}

.image-wrapper img {
  width: 80%; /* Adjust the width as needed */
  height: auto; /* Preserve the aspect ratio */
}

.content-wrapper {
  flex: 1;
}

.content-wrapper p {
  max-width: 500px;
  font-size: 16px;
  align-items: center;
  margin-left: 50px;
}
