@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Oswald:wght@200&display=swap");


body {
background-color: aliceblue;

  /* font-family: "Inter", sans-serif; */
}

.logo-image {
  height: 4.1rem;
  padding: 0px;
}

.mynavtitle .span1 {
  color: red;
  font-weight: 500;
}

.mynav {
 
  background-color:rgb(244, 177, 130);
}

.mylinks {
  justify-content: center;
}

/*footer side css*/

.myfooter {


  background-color: rgba(44, 62, 80, 1);
}

.myfooter {
  /* background-image: linear-gradient(black, rgb(48, 46, 46)); */
  background-color: aliceblue;
}

footer {
  color: rgb(24, 17, 17);
}
footer a {
  text-decoration: none;
}
.sociallink {
  font-size: 17px;
}


/* Media Query for Mobile Devices */
@media (max-width: 480px) {
  .myfooter {
    text-align: center;
  }

  .myfooter h5 {
    /* background-color: rgb(0, 0, 0);
        width: fit-content;  */
    font-weight: 500;
    border-radius: 5px;
  }
}

/* Media Query for low resolution  Tablets, Ipads */
@media (min-width: 481px) and (max-width: 767px) {
  .myfooter h5 {
    /* background-color: rgb(0, 0, 0);
        width: fit-content;  */
    font-weight: 500;
    border-radius: 5px;
  }
  .myfooter {
    text-align: center;
  }
}
/* index2.css */

body {
  background:  rgb(241, 239, 244);
}

section {
  margin-top: 6rem;
  text-align: center;
  margin-right: 1rem;
}

.nav_img-container {
  padding: 5px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-bottom: 2rem;
  column-gap: 2rem;
  row-gap: 2rem;
  text-align: center;
}

.grid-item {
  width: 100%;
}

.nav_img {
  width: 100%;
  height: 500px;
  border-radius: 5px;
  padding: 2px;
  transition: transform 200ms;
}

.grid-item {
  text-align: center;
  margin: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  transition: 0.1s;
  border-radius: 5px;
  box-shadow: 5px 10px 8px #888888;
}

.detail_of_art {
  text-align: left;

  padding-left: 10px;
}

/* .grid-item:hover {
  transform: scale(1);
  border: inset;
} */

.buy_button {
  background-color: white;
  color: black;
  border: 2px solid rgb(244, 177, 130) ;
  border-radius: 2px;
}

.buy_button:hover {
  background-color: rgb(30, 30, 90);
  color: white;
}

.button_container {
  padding-left: 10px;
  text-align: left;
  border-radius: 10px;
}

/* Media Query for Mobile Devices */

@media (max-width: 480px) {
  .nav_img-container {
    display: grid;
    grid-template-columns: repeat(1, 325px);
    justify-content: center;
    gap: 10px;
    margin-bottom: 2rem;
    text-align: center;
  }
  .grid-item {
    width: 300px;
    height: 500px;
  }

  .nav_img {
    width: 300px;
    height: 350px;
  }
}

/* Media Query for low resolution  Tablets, Ipads */
@media (min-width: 481px) and (max-width: 767px) {
  .nav_img-container {
    display: grid;
    grid-template-columns: repeat(2, 325px);
    text-align: center;
    width: 100%;
    height: auto;
    column-gap: 0rem;
  }
  .grid-item {
    width: 300px;
    height: 500px;
    overflow: hidden;
    border: 1px solid blanchedalmond;
  }

  .nav_img {
    padding: 1px;
    width: 300px;
    height: 300px;
    border-radius: 5px;
    padding: 1px;
    transition: transform 200ms;
  }
}
