/* Table css */

.content-table{
    margin-top: 5rem;
    background-color: rgb(15, 21, 82);
    
    
}

.content-table p span{
    float: right;
    background-color: rgb(244, 177, 130);
    padding: 3px 10px;
    font-size: 15px;
}

table{
    border-collapse: collapse;
    width: 100%;
    
}

td, th{
    text-align: left;
    padding: 15px;
    color: #ddd;
    border-bottom: 2px solid #10010149;
    background-color: rgb(36, 47, 204);
}